extends layout

block content
  h1 Register
  if message
    p= message
  form(method="post",action="/register")
    div
      label(for="user") Name:
      input(type="text",id="user",name="user",value="#{req.param('user')||''}")
    div
      label(for="password") Password:
      input(type="password",id="password",name="password",value="")
    div
      label(for="password1") Password (again):
      input(type="password",id="password1",name="password1",value="")
    div
      button(type="submit") Register
  p Already Registered?
  a(href="/login") Login
  p 
    a(href="/") Cancel


